/* 全体適用のCSS */
h2 {
  color: #7e7b7b;
  -webkit-text-stroke: 1px #414040;
  text-shadow: 0px 4px 4px #282828;
}

h3 {
  color: #7e7b7b;
  -webkit-text-stroke: 1px #414040;
  text-shadow: 0px 4px 4px #282828;
}

.icon-aria {
  max-width: 280px;
}
